[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]
aioredis = "==1.1.0"
aiosocksy = "==0.1.1"
aiotg = "==0.9.9"
asyncpg = "==0.21.0"
dataclasses = "==0.6"

[dev-packages]
pylint = "==1.9.2"
